.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container-text{
    text-align: center;
}

.home-container-text h2{

    color: var(--ciam-dark-active);
}

.home-container-text p{
    color: var(--gray-dark-active);
    text-align: center;
}

.home-container-1{
    background-color: #FFF;
    width: 100%;

}
.home-container-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-400);
    padding: 10px 10px 16px 10px;
}

.home-container-cards-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--space-2000);
    padding-bottom: var(--space-2000);
}

.home-container-2 h2,
.home-container-3 h2{
    margin-top: 0;
    color: var(--ciam-dark-active);
}

.home-container-2 p, 
.home-container-2 h5,
.home-container-3 h5{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--gray-dark-active);
    text-align: center;
}

.home-container-3{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-light);
    gap: var(--space-1600);
    padding:  var(--space-1600);
}

.home-container-3-text{
    max-width: 813px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container-3-button-cards{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: var(--space-600);
}

.home-container-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--space-1200);
    background-color: var(--gray-normal);

}

.home-cntr-4-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1512px;
    margin-left: 140px;
    margin-right: 140px;
}

.home-contact-form {
    display: flex;
    width: 700px;
    padding: var(--space-800) var(--space-600);
    flex-direction: column;
    align-items: center;
    gap: var(--space-400);
}

.home-grid{
    display: flex;
    height: 580px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    justify-content: center;
}

.home-grid-text{
    display: flex;
    flex-direction: column;
    max-width: 488px;
    width: 100%;
    gap: 20px;
}

.home-grid-text h2,
.home-grid-text h5{
    margin-top: 0;
    margin-bottom: 0;
}

.home-grid-text h2{
    color: var(--ciam-dark-active);
}

.home-grid-text h5{
    color: var(--gray-dark-active)
}

.home-container-5{
    width: 100%;
    padding-top: var(--space-1000);
    padding-bottom: var(--space-1000);
}

.home-cntr-5-wrapper{
    max-width: 1512px;
    width: 100%;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-1600);
}

.home-container-5-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-400);
}

.home-container-5-text h2,
.home-container-5-text h5{
    margin-top: 0;
    margin-bottom: 0;
}

.home-container-5-text h2{
    color: var(--ciam-dark-active);
}

.home-container-5-text h5{
    color: var(--gray-dark-active);
    max-width: 813px;
    text-align: center;
}