/* Contenedor principal */
.accordion-container {
  display: flex;
  width: 560px;
  flex-direction: column;
  align-items: flex-start;

}

/* Wrapper con borde punteado */
.accordion-wrapper {
  display: flex;
  width: 560px;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  border-radius: var(--radius-150);
}

/* Item individual del accordion */
.accordion-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-top: 1px solid var(--gray-light-active);
  border-bottom: 1px solid var(--gray-light-active);
  background: var(--gray-ligh);
}

.accordion-item:nth-child(3){
    border-radius: var(--radius-150);

}

/* Header/botón del accordion */
.accordion-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--gray-darker);  
  padding: 12px;
  flex-shrink: 0; /* evita que se deforme */
}



/* Título del item */
.accordion-title {
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--gray-darker);
}

/* Contenido expandido con animación */
.accordion-content {
  max-height: 0;              /* cerrado por defecto */
  overflow: hidden;
  transition: max-height 0.3s ease;
  border-top: 1px solid transparent;
  background: var(--gray-light);
  border-radius: var(--radius-150);

}



/* Cuando el item está abierto */
.accordion-item.open .accordion-content {
  max-height: 500px; /* ajusta según lo que necesites */
  border-top: 1px solid var(--gray-light-active);
}

/* Texto del contenido */
.accordion-text {
  font-size: var(--paragraph-font-size);
  font-weight: var(--font-weight-regular);
  color: var(--gray-dark-active);
  padding: 8px 12px;
}
