/* Icon Button Classes */
.icon-button-container-large,
.icon-button-container-medium {
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: var(--radius-100);
  border: none;
  cursor: pointer;
}

.icon-button-container-small {
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: var(--radius-100);
  border: none;
  cursor: pointer;
}

.icon-button-default {
  background-color: var(--gray-light);
  color: var(--gray-dark-active);
}

.icon-button-default:hover {
  background-color: var(--gray-normal);
  color: var(--gray-dark-active);
}

.icon-button-default:active {
  background-color: var(--gray-normal-hover);
  color: var(--gray-light);
}

.icon-button-default:disabled {
  background-color: var(--gray-normal);
  color: var(--gray-light);
  cursor: not-allowed;
}

/* =========================================================
   Shared Button Variants (para Button y IconButton)
   (SIN transiciones ni animaciones)
   ========================================================= */

.btn-primary {
  border: none;
  background-color: var(--ciam-normal);
  border-radius: var(--radius-100);
  color: var(--gray-light);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--ciam-normal-hover);
}

.btn-primary:active {
  background-color: var(--ciam-normal-active);
}

.btn-primary:disabled {
  background-color: var(--ciam-light-active);
  cursor: not-allowed;
}

.btn-secondary {
  border: none;
  background-color: var(--blue-normal);
  border-radius: var(--radius-100);
  color: var(--gray-light);
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--blue-dark-active);
}

.btn-secondary:active {
  background-color: var(--blue-dark-hover);
}

.btn-secondary:disabled {
  background-color: var(--blue-light);
  color: var(--blue-light-active);
  cursor: not-allowed;
}

.btn-tertiary {
  border: var(--border-width-025) solid var(--magenta-normal);
  background-color: var(--gray-light);
  border-radius: var(--radius-100);
  color: var(--magenta-normal);
  cursor: pointer;
}

.btn-tertiary:hover {
  background-color: var(--magenta-light-hover);
}

.btn-tertiary:active {
  background-color: var(--magenta-normal);
  color: var(--gray-light);
}

.btn-tertiary:disabled {
  background-color: var(--gray-light);
  color: var(--magenta-light-hover);
  border: var(--border-width-025) solid var(--magenta-light-hover);
  cursor: not-allowed;
}

.btn-error {
  border-radius: var(--radius-100);
  background: var(--error-normal);
  color: var(--gray-light);
  cursor: pointer;
}

.btn-error:hover {
  background-color: var(--error-normal-hover);
}

.btn-error:active {
  background-color: var(--error-normal-active);
}

.btn-error:disabled {
  background-color: var(--gray-light);
  color: var(--error-light-hover);
  border: var(--border-width-025) solid var(--error-light-hover);
  cursor: not-allowed;
}

.btn-text {
  border: none;
  background-color: transparent;
  color: var(--ciam-normal);
  cursor: pointer;
}

.btn-text:hover {
  color: var(--ciam-dark);
}

.btn-text:active {
  color: var(--ciam-dark-active);
}

.btn-text:disabled {
  color: var(--gray-normal-hover);
  cursor: not-allowed;
}

.btn-pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-100);
  height: 34px;
  width: 34px;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum" 1, "liga" 0;
  gap: 0;
  cursor: pointer;
  
  /* colores base (inactivo) */
  background-color: var(--gray-light);
  color: var(--gray-dark-active);
  border: var(--border-width-025) solid var(--gray-normal);
}

/* Estado activo */
.btn-pagination.icon-button-active {
  background-color: var(--ciam-normal);
  color: var(--gray-light);
  border-color: var(--ciam-normal);
}

/* Disabled */
.btn-pagination:disabled {
  background-color: var(--gray-normal);
  color: var(--gray-light);
  border-color: var(--gray-normal);
  cursor: not-allowed;
}

/* Span del número */
.icon-button-number {
  display: block;
  line-height: 1;
  align-items: center; 
  width: 100%;
}

 .icon-button-container-small.btn-pagination {
   width: 28px;
   height: 28px;
   font-size: 12px;
   padding: 0 !important;
 }
 .icon-button-container-medium.btn-pagination {
   width: 36px;
   height: 36px;
   font-size: 14px;
   padding: 0 !important;
 }
 .icon-button-container-large.btn-pagination {
   width: 44px;
   height: 44px;
   font-size: 16px;
   padding: 0 !important;
 }