/* Contenedor principal */
.simple-card-list-container {
    display: flex;
    width: 638px;
    flex-direction: column;
    gap: var(--space-400);
}

/* Grid */
.simple-card-list-grid {
  /* 👇 variable para controlar el ancho mínimo de cada card */ 
  --col-min: 202px;
  display: grid;
  gap: var(--space-400);
  grid-template-columns: auto auto auto;
  max-width: 638px;
  width: 100%;
}
