/* Contenedor principal */
.card-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* padding responsive: top/bottom crecen con el ancho */
  padding: clamp(32px, 6vw, 106px) clamp(16px, 6vw, 81px);
  box-sizing: border-box;
  width: 100%;
  gap: var(--space-400);

}
.card-list-grid{
  display: flex;
  gap: var(--space-400);
}
/* Grid para cards verticales */
.card-list-grid-vertical {
  --col-min: 145px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(var(--col-min), 1fr));
  max-width: 700px;
  width: 100%;
  padding: 20px;
  margin-inline: auto;
}

/* Grid para cards horizontales (2 por fila) */
.card-list-grid-horizontal {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 🔑 siempre 2 por fila */
  gap: var(--space-400);
  width: 100%;
  padding: 20px;
  margin-inline: auto;
}
